.container {
  display: flex;
  flex-direction: row;
  /* -webkit-appearance: none; */
}

.cell {
  padding: 0;
  margin: 0;
  background-color: transparent;
  position: relative;
  border: 1px solid black;
  text-align: center;
  line-height: 30px;
  display: block;
  min-width: 30px;
  min-height: 30px;
  /* -webkit-appearance: none; */
}
.cell:first-child {
  width: 200px;
}
.mark {
  border: none;
  /* -webkit-appearance: none; */
  padding: 0px;
  margin: 0;
  background-color: transparent;
  width: 28px;
  height: 28px;
  cursor: pointer;
  font-size: 14px;
}
.comment {
  position: absolute;
  display: none;
}
.cell:active .comment {
  display: block;
}
